<div class="row">
<h1>Hard & Soft Skills</h1>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
<circle-progress
  [percent]="85"
  [radius]="80"
  [title]="'HTML'"
  [showUnits]="true"
  [showSubtitle]="false"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#000000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="650"
></circle-progress>
</div>  

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="80"
      [title]="'HTML'"
      [showUnits]="true"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#000000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="650"
    ></circle-progress>
    </div>  

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="80"
        [title]="'Angular'"
        [showUnits]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#000000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="650"
    ></circle-progress>
</div>  

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="80"
      [title]="'Netbeans'"
      [showUnits]="true"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#000000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="650"
    ></circle-progress>
    </div>  

<div class="text-center col-sm-4 col-md-4 col-lg-4">
<circle-progress
  [percent]="85"
  [radius]="80"
  [title]="'Office'"
  [showUnits]="true"
  [showSubtitle]="false"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#000000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="650"
></circle-progress>
</div>  

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="80"
      [title]="'CSS'"
      [showUnits]="true"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#000000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="650"
    ></circle-progress>
</div>  
    
</div>
