<div class="card mat-card" id="card-exp">
    <h1>  Experiencia laboral</h1>
        <ul>
            <li>
                <h3>Norces</h3> - <h4>(2017-actual)</h4>
            </li>
            <p>Administrativa.</p>
        </ul>
        <ul>
            <li>
                <h3>Inspectora</h3> - <h4>(2014-2017)</h4>
            </li>
            <p>Ispectora en el deparatmento de control ambiental de la Municipalidad de Rosario.</p>
        </ul>
        <ul>
            <li>
                <h3>Work3</h3> - <h4>(years)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure temporibus deserunt nostrum, ex cupiditate distinctio sunt sapiente, aliquid magnam maxime suscipit soluta tempore, blanditiis similique hic reiciendis autem quae praesentium.</p>
        </ul>


</div>

<!-- <div class="card mat-card">
    <div id="experience">
        <h4>Experiencia</h4>
        <div class="btn-edit"><a href="#" class="btn right"><i class="fa fa-plus"></i></a></div>
    </div>

    <div>
        <ul class="items-list">
            <li>
                <div class="data-conteiner"></div>
                    <a href="#">
                <div class="logo-image-container"></div>
                <div class="list-info"></div>
                    <div>
                        <h5>Inspector</h5>
                        <p>
                        Muni - 
                        <span>Jornada Parcial</span>
                    </p>
                        <h6>Fechas</h6>
                        <h6>Rosario, Argentina</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="data-control">

        </div>
        </li>
        </ul>
    </div>
</div> -->
