<div class="experiencia">
    <div id="experience">
        <div class="card-title">
    <h1>Experiencia Laboral</h1>
    <div class="btn-edit"><a href="#" class="btn-right" margin="100%"><i class="fa fa-pen"></i></a>
       </div>
    </div>
    <div>
        <ul class="items-list">
            <li *ngFor="let experience of experienceList">
                <div class="data-container">
                    <a href="#">

                        <div class="list-info">
                            <div>
                                <h3>{{experience.position}}</h3>
                                <div class="data-control">
                                    <div class="btn-edit"><a href="#" class="btn-right" margin="100%"><i class="fa fa-pen"></i></a>                </div>
                                </div>

                                <h5>{{experience.company}} - <span>{{experience.type}}</span></h5>
                                <p><time>{{experience.start}}</time>-<time>{{experience.end}}</time></p>
                                <p>{{experience.city}}</p>

                            </div>
                        </div>
                    </a>
                </div>
            </li>

        </ul>
    </div>
</div>