.mat-card{
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-color: rgb(155, 154, 154);
}
.mat-card#card-exp{
    padding: 0;
}

.list-info{
    color: black;
}
.logo-image{
    width: 5%;
    height: 5%;
}
a:link { text-decoration: none;
}
a:visited {
text-decoration: none;
}