<div class="card mat-card" id="card-exp">
<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Work1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure temporibus deserunt nostrum, ex cupiditate distinctio sunt sapiente, aliquid magnam maxime suscipit soluta tempore, blanditiis similique hic reiciendis autem quae praesentium.</p>
        </ul>
        <ul>
            <li>
                <h1>Work2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure temporibus deserunt nostrum, ex cupiditate distinctio sunt sapiente, aliquid magnam maxime suscipit soluta tempore, blanditiis similique hic reiciendis autem quae praesentium.</p>
        </ul>
        <ul>
            <li>
                <h1>Work3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure temporibus deserunt nostrum, ex cupiditate distinctio sunt sapiente, aliquid magnam maxime suscipit soluta tempore, blanditiis similique hic reiciendis autem quae praesentium.</p>
        </ul>
    </div>
</div>>
</div>
