<div class="card mat-card">
    <div class="card-titles">
        <h2>Acerca de</h2>
        <div class="btn-edit" onclick="cambiar_parrafo()">
        <a href="#" class="btn-right">
            <i class="fa fa-pen"></i>
        </a>

    </div>
        <p id="text-acercade">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sunt minus officia, dolor illum labore in accusamus iste libero modi sed! Fugiat, eveniet omnis vero consequatur sapiente reprehenderit enim quidem!</p>
    </div>
    <div>
        <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display: none;">
    </div>
</div>

<!-- <div class="card mat-card">
    <div class="card-titles">
        <h4>Acerca de</h4>
        <div class="btn-edit" onclick="cambiar_parrafo()">
            <a hfer="#" class="btn-right">
                <i class="fa fa-pen"></i></a></div>
    </div>
      <div>
        <p id="text-acercade">Técnica química</p>
    </div>
    <div>
        <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display: none">
    </div>
</div>
<input type="file" id="file1" onchange="showFile(this)"> -->
