<div class="row">
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="info-company">{{miPortfolio.subject.position}}</p>
        <span><b>{{miPortfolio.subject.ubicacion}}</b></span>
    </div>
       
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h1>Acerca de mí</h1>
            <p>Soy yo</p>
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">        
        <ul id="info-details" style="line-height: 0.5px; font-size: 10pt;">
            <li><a href="#">
            <img src="../../../assets/logoAP.PNG" alt="INTI" width="25" height="25" >
                <h6>{{miPortfolio.subject.company}}</h6>
            </a></li>
            <li><a href="#">
            <img src="../../../assets/utn.PNG" alt="UTN" width="25" height="25" >
                <h6>{{miPortfolio.subject.study}}</h6>
            </a></li>
        </ul>

    </div>
</div>
