<div class="card mat-card" id="first-card"> 
        <div id="profile-background"><img src="../../../assets/backgr.jpg"></div>

        <div id="info" style="padding: 16px;">
            <div id="info-img">
                <img class="profile-image" [src]="miPortfolio.subject.image" alt="fotoperfil" title="Sofía Sciangula"></div>
                <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>>
        </div>
            <div id="info-data">
                <div>
                    <h1>{{miPortfolio.subject.nombre}}</h1>
                    <div id="info-company">{{miPortfolio.subject.position}}</div>

                    <div class="col-xs-12 col-sm-3 col-md-3"> 
                        <span><b>{{miPortfolio.subject.ubicacion}}</b></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5"> 
                <h1>Acerca de</h1>
                <div>
                <button class="btn-edit" onclick="cambiar_parrafo()">
                <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                </button>
            </div>
                <p id="text-acercade">Soy una persona proactiva que todo el tiempo está buscado desafíos nuevos</p>
            </div>
            <div>
                <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display: none;">
            </div>

            <div class="col-xs-12 col-sm-3 col-md-3"> 
            <ul id="info-details" style="line-height: 0.5px; font-size: 10pt;">
                <li><a href="#">
                    <img src="../../../assets/logoAP.PNG" alt="INTI" width="25" height="25" >
                        <h6>{{miPortfolio.subject.company}}</h6>
                </a></li>

                <li><a href="#">
                    <img src="../../../assets/utn.PNG" alt="UTN" width="25" height="25" >
                        <h6>{{miPortfolio.subject.study}}</h6>
                </a></li>
            </ul>
            </div>
    </div>

