<div class="card mat-card" id="first-card"> 
        <div id="profile-background"><img src="../../../assets/backgr.jpg"></div>

        <div id="info" style="padding: 16px;">
            <div id="info-img">
                <img class="profile-image" src="../../../assets/Fotoperfil.jpeg" alt="fotoperfil" title="Sofía Sciangula"></div>
                <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>>
        </div>
            <div id="info-data">
                <div>
                    <h1>{{miPortfolio.nombre}}</h1>
                    <div id="info-company">{{miPortfolio.position}}</div>
                    <div id="info-contact"> 
                        <span><b>{{miPortfolio.ubicacion}}</b></span>
                        <span><a href="#" style="color: blue;"> Informacion de contacto</a> </span>
                    </div>
                </div>
            <ul id="info-details" style="line-height: 0.5px; font-size: 10pt;">
                <li><a href="#">
                    <img src="../../../assets/logoAP.PNG" alt="INTI" width="25" height="25" >
                        <h6>INTI</h6>
                </a></li>

                <li><a href="#">
                    <img src="../../../assets/utn.PNG" alt="UTN" width="25" height="25" >
                        <h6>Universisdad Tecnologica Nacional</h6>
                </a></li>
            </ul>
            </div>

         <div id="info-actions">
            <button type="button" class="btn btn-primary">Tengo interes en</button> 
            <button type="button" class="btn btn-light">Añadir Seccion</button> 
            <button type="button" class="btn btn-light">Mas</button> 
         </div>
    </div>



    <!-- <div class="card mat-card" id="first card">
    <div id="profile-background"><img src="../../../assets/backgr.jpg" alt="" height="50%">
    </div>
    <div id="info" style="padding: 16px;">
        <div id="info-img">
            <img src="../../../assets/Fotoperfil.jpeg" class="img-fluid" id="fotoperfil" title="Sofía Sciangula">
            <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        </div>> 
        <div id="info-data">
            <div class="row">
                <div class="col-xs-12 col-sm-28col-md-8 col-lg-8">
                <h1>Sofìa Sciangula</h1>
                <div id="info-company">Full Stack Developer Jr</div>
                <div id="info-contact">
                    <span>Rosario, Argentina</span>
                    <span><a href="#"> Información de contacto</a></span>
                </div></div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <ul id="info-details">
                <li><a href="https://argentinaprograma.inti.gob.ar/">
                    <img src="../../../assets/logoAP.PNG">
                    <h4>INTI</h4>
                </a></li>
                <li><a href="https://www.frro.utn.edu.ar/">
                    <img src="../../../assets/utn.PNG">
                    <h4>UTN</h4>
                </a></li>
            </ul>
        </div>
        </div>
    </div>
    <div id="info-actions">
        <button type="button" class="btn btn-primary">Tengo interes en</button> 
        <button type="button" class="btn btn-light">Añadir Seccion</button> 
        <button type="button" class="btn btn-light">Mas</button> 
     </div>
</div>>
</div>  -->
