.banner{
    width: 100%;
    background-color: rgb(212, 212, 203);
    
    }
    div#info-data{
        display: inline;
    
    }
    div#profile-background{
        display: flex;
    
    }
    #profile-background img{
        width: 100%;
        height: 20em;
        margin-bottom: auto;
    }
    .profile-image{
        border-radius: 50%;
        width:152px;
        height:152px;
        margin-top: -110px;
        z-index: 1;
        background: url(../../../assets/Fotoperfil.jpeg) no repeat;
    }
    
    @media (min-width:576px){
        #fotoperfil{
            position: absolute;
            width: 15%;
            border-radius: 100%;
            box-shadow: 3px 3px rgb(71, 71, 71);
            left: 2%;
            top: 300px;
        }
    }
    @media (max-width:575px){
        #fotoperfil{
            position: absolute;
            width: 15%;
            border-radius: 100%;
            box-shadow: 3px 3px grey;
            left: 33%;
            top: 300px;
        }
    }
    
    
    div#info-company{
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.25;
    }
    
    
    
    
    
    
    
    