.row{
    padding: 20px;
}

h1, h3{
    display: inline;
}
.mat-card{
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-color: rgb(155, 154, 154);
}
.mat-card#card-education{
    padding: 0;
}