.logo{
    width: 30px;
    height: 1%;
}
.redes{
    width: 30px;
    display: inline-flex
}


.btn{
    border-width: medium;
}
.row{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between
}