<div class="row">
    <div class="container">
        <div class="logo">
        <img src="../../../assets/logoAP.PNG" id="logoAP"></div>

    <div class="redes">
        <a href=""><img src="../../../assets/linkedin.jpeg" id="linkedin"></a>
        <a href=""><img src="../../../assets/Git.jpeg" id="github"></a>
        <a href=""><img src="../../../assets/instagram.jpeg" id="Instagram"></a>
        <button type="button" class="btn btn-outline-dark" (click)="login()">LOG IN</button>
    </div>
</div>
</div>
