.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.redes{
    margin-right: 0.5em;
}
#logoAP{
    width: 150px;
}
img{
    width: 50px;
}
.btn{
    border-width: medium;
}
