<div class="row">
<div class="container">


        <div class="logo"><img src="../../../assets/logoAP.png" id="logoAP"></div>
        <div class="redes">
         <a href=""><img src="../../../assets/Git.png" id="linkedin"></a>
         <a href=""><img src="../../../assets/linkedin.png" id="github"></a>
         <a href=""><img src="../../../assets/instagram.png" id="Instagram"></a>
         <button type="button" class="btn btn-outline-dark" (click)="login()">LOG IN</button>
        </div>
</div>
</div>
