<div class="card mat-card">
    <div id="education">
        <div class="card-title">
    <h1>Educacion</h1>
    <div class="btn-edit"><a href="#" class="btn-right" margin="100%"><i class="fa fa-pen"></i></a>
       </div>
    </div>
    <div>
        <ul class="items-list">
            <li *ngFor="let education of educationList">
                <div class="data-container">
                    <a href="#">
                        <div class="logo-image-container">
                            <img class="logo-image" [src]="education.img">
                        </div>
                        <div class="list-info">
                            <div>
                                <h3>{{education.school}}</h3>
                                <h5>{{education.title}}</h5>
                                <p><time>{{education.star}}</time>-<time>{{education.end}}</time></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="data-control">
                    <div class="btn-edit"><a href="#" class="btn-right" margin="100%"><i class="fa fa-pen"></i></a>
                </div>
                </div>
            </li>
         </ul>
    </div>
</div>
