<div class="card mat-card">
    <div id="education">
        <div class="card-title">
    <h1>Educacion</h1>
    <div class="btn-edit"><a href="#" class="btn-right" margin="100%"><i class="fa fa-pen"></i></a>
       </div>
    </div>
    <div>
        <ul class="items-list">
            <li>
                <div class="data-container">
                    <a href="#">
                        <div class="logo-image-container">
                            <img class="logo-image" src="../../../assets/utn.PNG">
                        </div>
                        <div class="list-info">
                            <div>
                                <h3>UTN FRRo </h3>
                                <h5> Técnica universitaria en química</h5>
                                <p><time>2007</time>-<time>2013</time></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="data-control">
                    <div class="btn-edit"><a href="#" class="btn-right" margin="100%"><i class="fa fa-pen"></i></a>
                </div>
                </div>
            </li>
            <li>
                <div class="data-container">
                    <a href="#">
                        <div class="logo-image-container">
                            <img class="logo-image" src="../../../assets/utn.PNG">
                        </div>
                        <div class="list-info">
                            <div>
                                <h3>UTN FRRo </h3>
                                <h5> Ingeniería química</h5>
                                <p><time>2007</time>-<time>Incompleto</time></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="data-control">
                    <div class="btn-edit"><a href="#" class="btn-right" margin="100%"><i class="fa fa-pen"></i></a>
                </div>
                </div>
            </li>
            <li>
                <div class="data-container">
                    <a href="#">
                        <div class="logo-image-container">
                            <img class="logo-image" src="../../../assets/minist.sta.fe.PNG">
                        </div>
                        <div class="list-info">
                            <div>
                                <h3>EETP N° 432 </h3>
                                <h5> Polimodal: Humanidades y ciencias sociales</h5>
                                <p><time>2002</time>-<time>2006</time></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="data-control">
                    <div class="btn-edit"><a href="#" class="btn-right" margin="100%"><i class="fa fa-pen"></i></a>
                </div>
                </div>
            </li>
        </ul>
    </div>
</div>
