<div class="card mat-card" id="card-education">
    <h1>Educacion</h1>
        <ul>
            <li>
                <h3>Universidad Tecológica Nacional</h3> - <h4>(2007-2013)</h4>
            </li>
            <h5>Técnica univresitaria en química</h5>
            <p>Estado: finalizado</p>
        </ul>
        <ul>
            <li>
                <h3>Universidad Tecológica Nacional</h3> - <h4>(2007-2015)</h4>
            </li>
            <h5>Ingeniería química</h5>
            <p>Estado: abandonado</p>
        </ul>
</div>
